<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <h2><%= link_to 'All Restaurants', restaurants_path %></h2>
        <h2><%= link_to 'Add New Restaurant', new_restaurant_path %></h2>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
